@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mobile {
  width: 375px;
  height: 667px;
  background-color: #f2eae2;
  padding: 28px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-3 {
  width: 343px;
  height: 611px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.perfume {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 5px;
  color: #6c7289;
}
.bot-container {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.perfume-2 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #1c232b;
}
.perfume-3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0px;
  color: #6c7289;
}
.price-div {
  width: 194px;
  height: 32px;
  display: flex;
  gap: 19px;
}
.main-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #3d8168;
}
.disc-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-decoration: line-through;
  color: #6c7289;
}
button {
  width: 295px;
  height: 48px;
  background-color: #3d8268;
  padding: 15px 92px;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}
